/*Heading*/

.heading {
    font-family: Arial, sans-serif;
    text-align: center;
}
#blue {
    color: blue;
}
#brown {
    color: brown;
}
#white {
    color: purple;
}
#green {
    color: green;
}
#red {
    color: red;
}

/*Footer*/
footer {
    text-align: center;
    background: black;
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

/*buttons*/

button {
    padding: 15px 32px;
   
    font-size: 20px;
    border-radius: 50%;
}

#rock-button {
    background: brown;
    color: white;
}

#paper-button {
    background: purple;
    color: white;
}

#scissors-button {
    background: red;
    color: white;
}

#lizard-button {
     background: green;
     color: white;
}

#spock-button {
    background: blue;
    color: white;
}

#button-heading {
    text-align: center;
    font-family: Arial, sans-serif;
}

#controls-area {
    text-align: center;
}



/** game area */

.rpsls-image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    height: 30%; 
}
#images{
   text-align:center;
}


.scores, #result {
    font-family: Arial, sans-serif;
    font-size: 25px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
}

#scores-div, #result-div {
    text-align: center;
}

#player-score {
    margin-right: 50px;
    color: green;
}

#computer-score {
    margin-left: 50px;
    color: red;
}



