/*Heading*/

.heading {
    font-family: Arial, sans-serif;
    text-align: center;
}

 /** text-shadow property copied from https://stackoverflow.com/questions/2570972/css-font-border **/

#blue {
    color: blue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#purple {
    color: purple;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#yellow {
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#green {
    color: green;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
#red {
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*Footer*/
footer {
    text-align: center;
    background: black;
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

/*buttons*/

button {
    padding: 15px 32px;
    font-size: 20px;
    border-radius: 50%;
}

#rock-button {
    background: red;
    color: white;
}

#paper-button {
    background: yellow;
    color: black;
}

#scissors-button {
    background: purple;
    color: white;
}

#lizard-button {
     background: green;
     color: black;
}

#spock-button {
    background: blue;
    color: white;
}

#button-heading {
    text-align: center;
    font-family: Arial, sans-serif;
}

#controls-area {
    text-align: center;
}



/** game area */

#computer-image, #player-image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: auto;
    
}
#images{
   text-align:center;
}



.scores, #result {
    font-family: Arial, sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#scores-div, #result-div {
    text-align: center;
}



#player-score {
    margin-right: 50px;
    color: green;
}

#computer-score {
    color: red;
}

/* Media queries */

/* For screens size 1280px */

@media screen and (max-width: 1280px) {
    footer {
        position:relative;
    }
}

@media  screen and (max-width: 425px) {
    #computer-image, #player-image {
        height: 150px;
    }
}

/* For screens size 320px */

@media screen and (max-width: 320px) {
     #computer-image, #player-image {
        height: 150px;
        
    }
    #player-score {
        margin-right: 0px;
       
    }
    .scores {
        font-size: 18px;
    }
    
    
}


